In [2]:
import pandas as pd
import numpy as np
pd.set_option('display.width', 75)
pd.set_option('display.max_columns', 5)
pd.set_option('display.max_rows', 20)
pd.options.display.float_format = '{:, .2f}'.format
nls97 = pd.read_csv("data/nls97.csv")
nls97.set_index("personid", inplace=True)

In [6]:
nls97[1000:1004].head()

          gender  birthmonth  ...      colenrfeb17      colenroct17
personid                      ...
195884      Male          12  ...              NaN              NaN
195891      Male           9  ...  1. Not enrolled  1. Not enrolled
195970    Female           3  ...  1. Not enrolled  1. Not enrolled
195996    Female           9  ...              NaN              NaN

[4 rows x 88 columns]

In [7]:
nls97[1000:1004:2].head()

          gender  birthmonth  ...      colenrfeb17      colenroct17
personid                      ...
195884      Male          12  ...              NaN              NaN
195970    Female           3  ...  1. Not enrolled  1. Not enrolled

[2 rows x 88 columns]

In [8]:
nls97.head(3)

          gender  birthmonth  ...      colenrfeb17      colenroct17
personid                      ...
100061    Female           5  ...  1. Not enrolled  1. Not enrolled
100139      Male           9  ...  1. Not enrolled  1. Not enrolled
100284      Male          11  ...  1. Not enrolled  1. Not enrolled

[3 rows x 88 columns]

In [9]:
nls97[:3].head()

          gender  birthmonth  ...      colenrfeb17      colenroct17
personid                      ...
100061    Female           5  ...  1. Not enrolled  1. Not enrolled
100139      Male           9  ...  1. Not enrolled  1. Not enrolled
100284      Male          11  ...  1. Not enrolled  1. Not enrolled

[3 rows x 88 columns]

In [10]:
nls97.tail(3)

          gender  birthmonth  ...      colenrfeb17      colenroct17
personid                      ...
999543    Female           8  ...  1. Not enrolled  1. Not enrolled
999698    Female           5  ...  1. Not enrolled  1. Not enrolled
999963    Female           9  ...  1. Not enrolled  1. Not enrolled

[3 rows x 88 columns]

In [11]:
nls97[-3:].head()

          gender  birthmonth  ...      colenrfeb17      colenroct17
personid                      ...
999543    Female           8  ...  1. Not enrolled  1. Not enrolled
999698    Female           5  ...  1. Not enrolled  1. Not enrolled
999963    Female           9  ...  1. Not enrolled  1. Not enrolled

[3 rows x 88 columns]

In [12]:
nls97.loc[[195884, 195891, 195970]].head()

          gender  birthmonth  ...      colenrfeb17      colenroct17
personid                      ...
195884      Male          12  ...              NaN              NaN
195891      Male           9  ...  1. Not enrolled  1. Not enrolled
195970    Female           3  ...  1. Not enrolled  1. Not enrolled

[3 rows x 88 columns]

In [13]:
nls97.loc[195884:195970].head()

          gender  birthmonth  ...      colenrfeb17      colenroct17
personid                      ...
195884      Male          12  ...              NaN              NaN
195891      Male           9  ...  1. Not enrolled  1. Not enrolled
195970    Female           3  ...  1. Not enrolled  1. Not enrolled

[3 rows x 88 columns]

In [14]:
nls97.iloc[[0]].head()

          gender  birthmonth  ...      colenrfeb17      colenroct17
personid                      ...
100061    Female           5  ...  1. Not enrolled  1. Not enrolled

[1 rows x 88 columns]

In [15]:
nls97.iloc[[0,1,2]].head()

          gender  birthmonth  ...      colenrfeb17      colenroct17
personid                      ...
100061    Female           5  ...  1. Not enrolled  1. Not enrolled
100139      Male           9  ...  1. Not enrolled  1. Not enrolled
100284      Male          11  ...  1. Not enrolled  1. Not enrolled

[3 rows x 88 columns]

In [16]:
nls97.iloc[0:3].head()

          gender  birthmonth  ...      colenrfeb17      colenroct17
personid                      ...
100061    Female           5  ...  1. Not enrolled  1. Not enrolled
100139      Male           9  ...  1. Not enrolled  1. Not enrolled
100284      Male          11  ...  1. Not enrolled  1. Not enrolled

[3 rows x 88 columns]

In [17]:
nls97.iloc[[-3, -2, -1]].head()

          gender  birthmonth  ...      colenrfeb17      colenroct17
personid                      ...
999543    Female           8  ...  1. Not enrolled  1. Not enrolled
999698    Female           5  ...  1. Not enrolled  1. Not enrolled
999963    Female           9  ...  1. Not enrolled  1. Not enrolled

[3 rows x 88 columns]

In [18]:
nls97.iloc[-3:].head()

          gender  birthmonth  ...      colenrfeb17      colenroct17
personid                      ...
999543    Female           8  ...  1. Not enrolled  1. Not enrolled
999698    Female           5  ...  1. Not enrolled  1. Not enrolled
999963    Female           9  ...  1. Not enrolled  1. Not enrolled

[3 rows x 88 columns]

In [19]:
nls97.nightlyhrssleep.quantile(0.05)

4.0

In [20]:
nls97.nightlyhrssleep.count()

6706

In [21]:
sleepcheckbool = nls97.nightlyhrssleep < 4
sleepcheckbool

personid
100061    False
100139    False
100284    False
100292    False
100583    False
          ...
999291    False
999406    False
999543    False
999698    False
999963    False
Name: nightlyhrssleep, Length: 8984, dtype: bool

In [22]:
lowsleep = nls97.loc[sleepcheckbool]

In [25]:
lowsleep = nls97.loc[nls97.nightlyhrssleep<=4]

In [26]:
lowsleep.shape

(364, 88)

In [29]:
lowsleep3pluschildren = nls97.loc[(nls97.nightlyhrssleep<=4) & (nls97.childathome>=3), ['nightlyhrssleep', 'childathome']]
lowsleep3pluschildren.head()

ValueError: Invalid format specifier

ValueError: Invalid format specifier